.banner1 {
   width: 100%;
    height: 300px;
}
  
.banner-img{
  position: relative;
 width: 100%;
  height: 100%;
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 10%;
  color: rgba(196, 9, 9, 0.986);
  text-shadow: 1px 1px 5px black;
}