.footer {
  background-color: #424242;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #5e5b5b;
  padding-top: 15px;
  font-size: 0.9rem;
}
.footer-section.about {
  text-align: left;
}